@import 'tailwindcss';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.add-task{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}


.add-task h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.add-task input[type="search"]{
    width: 500px;
    border-radius: 5px;
    padding: 10px;
}

.add-task button{
    width: 300px;
    
}
/* ============= CARD ========= */
.chead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chead .task-inc{
    background-color: #f7e373;
    padding: 5px 10px;
    font-family: cursive;
    border-radius: 5px;
}
.chead .task-cmp{
    background-color: #adfa49;
    padding: 5px 10px;
    font-family: cursive;
    border-radius: 5px;
}

.card-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
}

.card-container .card{
    margin-left: 30px;
    width: 18em;
}
/* ============= */
.filter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.filter-group select{
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}
